<nav class="main-nav">
  <ul class="nav-list">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

    <li class="nav-item dropdown">
      <a href="#" class="nav-link">Destinations ▾</a>
      <ul class="dropdown-menu">
        <li><a href="/destinations/north" class="nav-link">Northern VietNam</a></li>
        <li><a href="/destinations/central" class="nav-link">Central VietNam</a></li>
        <li><a href="/destinations/south" class="nav-link">Southern VietNam</a></li>
      </ul>
    </li>

    <li class="nav-item"><a href="/foods" class="nav-link">Foods</a></li>
    <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
    <li class="nav-item"><a href="/experience" class="nav-link">Share Experience</a></li>
    <li class="nav-item"><a href="/experience" class="nav-link">Collaborate</a></li>
  </ul>
</nav>
